{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h1>Usuario</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre Completo</th>
                <td>{{ user.full_name }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ user.rut }}</td>
            </tr>
            <tr>
                <th>Compañia</th>
                <td>{{ user.company }}</td>
            </tr>
        </tbody>
    </table>

     <a>{{ include('api_couchdb/_delete_form.html.twig') }}</a>
     <br/>
     <a type="button" class="btn btn-secondary" href="{{ path('app_all_users') }}">Lista de Usuarios</a>

{% endblock %}
